@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');
//Fonts
$body-font : 'Roboto', sans-serif;
$highlight-font: 'Roboto Condensed', sans-serif;
$table-font: 'Arial', sans-serif;