// Doby size limit
$max-width: 1680px;
// Padding 
$horizontal-padd-desk: 60px;
$vertical-padd-desk: 100px;
$horizontal-padd-mob: 30px;
$vertical-padd-mob: 40px;
// Buttons
$horizontal-button-padd: 20px;
$right-button-padd: 55px;
$vertical-button-padd: 10px;
// Cards
$vertical-card-padd: 30px;
$horizontal-card-padd: 30px;
// Border radius
$big-border-radius: 40px;
$medium-border-radius: 20px;
$small-border-radius: 15px;
// Transition
$main-transition: .5s ease-in-out;
// $main-transition: 2s ease-in-out;
$fast-transition: .4s ease-in-out;
// $fast-transition: 2s ease-in-out;
$slow-transition: .75s ease-in-out;
// $slow-transition: 2s ease-in-out;